<app-menu></app-menu>
<section class="heading">
    <span style="font-weight: bold; padding-left: 15px; font-style: italic">{{title}} </span>
    <span style="float: right; padding-right: 15px; font-style:italic; font-weight: bold">Hello,
        {{loggedInUser.firstName}}</span>
</section>
<table class="table table-bordered table-striped">
    <thead style="background-color: rgb(96, 176, 230);">
        <tr>
            <th>User</th>
            <th>Description</th>
            <th>Status</th>
            <th>Total</th>
            <th>Submitted Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let request of requests'>
            <td>{{ request.user.lastName+', '+request.user.firstName }}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.status }}</td>
            <td>{{ request.total | currency }}</td>
            <td>{{ request.submittedDate }}</td>
            <td>
                <a routerLink='/request-approve/{{request.id}}'>
                    <img width='20' height='20' src='assets/review.png' title='Request Review'>
                </a>
            </td>
        </tr>
    </tbody>
</table>