<app-menu></app-menu>
<section class="heading">
    <span style="font-weight: bold; padding-left: 15px; font-style: italic">{{title}} </span>
    <a routerLink='/product-create'>
        <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
    </a>
    <span style="float: right; padding-right: 15px; font-style:italic; font-weight: bold">Hello,
        {{loggedInUser.firstName}}</span>
</section>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Vendor</th>
            <th>Part Number</th>
            <th>Name</th>
            <th>Price</th>
            <th>Unit</th>
            <th>Photo</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let product of products'>
            <td>{{ product.vendor.name }}</td>
            <td>{{ product.partNumber }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price}}</td>
            <td>{{ product.unit }}</td>
            <td>{{ product.photoPath }}</td>
            <td> <a routerLink='/product-detail/{{product.id}}'>
                    <img width='20' height='20' src='assets/details.png' title='Product Details'>
                </a> |
                <a routerLink='/product-edit/{{product.id}}'>
                    <img width='20' height='20' src='assets/pencil-icon.png' title='Edit Product'>
                </a>
            </td>
        </tr>
    </tbody>
</table>