<app-menu></app-menu>
<section class="heading">
    <span class="page-title font-weight-bold font-italic">{{title}}</span> |
    <a routerLink='/request-create'>
        <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
    </a>
    </section>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ request.user.firstName + ' ' + request.user.lastName }}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.status }}</td>
            <td>{{ request.total }}</td>
        </tr>
    </tbody>
</table>
<section class="heading">
    <span class="page-title font-weight-bold font-italic">[{{title2}}]</span> |
    <a routerLink='/line-item-create/{{request.id}}'>
        <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
    </a>
    </section>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Vendor</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Line Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let lineItem of lineItems'>
            <td>{{ lineItem.product.vendor.name }}</td>
            <td>{{ lineItem.product.name }}</td>
            <td>{{ lineItem.quantity }}</td>
            <td>{{ lineItem.product.price }}</td>
            <td>{{ lineItem.quantity*lineItem.product.price }}</td>
            <td> 
                <a routerLink='/line-item-edit/{{lineItem.id}}'>
                <img width='20' height='20' src='assets/pencil-icon.png' title='Edit Line Item'>
                </a> |
                <span><button (click)="delete(lineItem.id)" style="border: none"> <a>
                    <img width='20' height='20' src='assets/delete.jpg' title='Delete Line Item'>
                    </a></button></span>
            </td>
        </tr>
    </tbody>
</table>
<span><button (click)="status()" class="btn btn-sm btn-primary">Submit</button></span>

