<app-menu></app-menu>
<section class="heading">
    <span style="font-weight: bold; padding-left: 15px; font-style: italic">{{title}} </span>
    <span> | <a routerLink="/request-list">Return to List</a></span>
    <span style="float: right; padding-right: 15px; font-style:italic; font-weight: bold">Hello,
        {{loggedInUser.firstName}}</span>
</section>
<table class="table table-bordered table-striped">
    <thead style="background-color: rgb(96, 176, 230);">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ request.user.firstName + ' ' + request.user.lastName }}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.status }}</td>
            <td>{{ request.total | currency }}</td>
        </tr>
    </tbody>
</table>
<section class="heading">
    <span style="font-weight: bold; padding-left: 15px; font-style: italic">{{title2}} </span>
</section>
<table class="table table-bordered table-striped">
    <thead style="background-color: rgb(96, 176, 230);">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Line Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let lineItem of lineItems'>
            <td>{{ lineItem.product.name }}</td>
            <td>{{ lineItem.quantity }}</td>
            <td>{{ lineItem.product.price }}</td>
            <td>{{ lineItem.quantity*lineItem.product.price | currency }}</td>
        </tr>
    </tbody>
</table>
<div style="padding-left: 15px;">
    <span><button (click)="approve()" class="btn btn-sm btn-primary">Approve</button> | </span>
    <span><input [(ngModel)]="request.reasonForRejection" class="rounded" type="text"> | </span>
    <span><button *ngIf="request.reasonForRejection!=null && request.reasonForRejection.length>0" (click)="reject()"
            class="btn btn-sm btn-danger">Reject</button></span>
</div>